<!DOCTYPE html>
<html lang="pt-br" class="inicioHtml">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/logo.ico" type="image/x-icon">
    <link rel="shortcut icon" href="logo.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Controller-CAD-LOG.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <title>Vitlusus+ | Início</title>

 
</head>

<body onload="loading()" class="inicioBody" onloadstart="setTopo()">
    <div class="carrega2">
        <div class="pre"></div>
    </div>
  <header>
        <img src="/Logo.png" class="imgLogo">
    </header>

    <div class="site">

<div class="mulherDosBiceps">
    <img src="/woman-teaching-biceps.png">
</div>

    <div class="mulherDosBicepsContainer">
        <img src="/backgroundVitalusus.jpg">
        <div class="fundoTexto"></div>
    </div>
        
<div class="finalIndex">
    <div class="fundoTexto"></div>
    <img src="/poster1.png">
</div>

</div>
</body>
<script>
    const SobreO = document.querySelectorAll('.escondido')

    const observer = new IntersectionObserver((entradas) =>{

        entradas.forEach( (entrada) =>{
            if (entrada.isIntersecting){
                entrada.target.classList.add('mostrando')
            }
    
        })
    })

    SobreO.forEach((element)=> observer.observe(element) )

</script>
<script>
    function loading(){
      document.getElementsByClassName("carrega2")[0].style.display="none";
      document.getElementsByClassName("site")[0].style.display="block";
    }
    function setTopo(){
        var _carrega = document.getElementsByClassName("carrega2")[0];
        if(_carrega.style.display!="none"){
            $(window).scrollTop(0);
        }
}
$(window).bind('scroll', setTopo);
  </script>
</html>