/*Cadastro*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');

html,body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}
.uservezin{
    font-size: 100px;
    color: #FFFFFF;
    margin-left:20px ;
}
.linkseta {
    position: absolute;
    width: 12px;
    z-index: 1;
}
th, td {
    border: 1px solid #FFFFFF; 
    padding: 8px; 
    text-align: center; 
    background-color:#ff0000;
}
th {
    background-color: #ff0000; 
}
.txtcad {
    margin-top: 0;
}
.bt-submit:hover{
    color: #000;
    text-decoration: none;
}
body {
    margin: 0;
    padding: 0;
    background-image: url("background.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.txtconfig{
    align-self: center;
    margin-top: 200px;
    display:inline-flex;
}
.clienteSucessoFooter{
	margin-top:20%
}
.configurations{
    text-align: center;
    font-size: 35px;
    color:white
}
.button{
    text-align: center;
    width: 150px;
    align-self: center;
}
.configp{
    color: white;
    text-align: center;
    align-self: center;
    background-color: rgba(245, 9, 9, 0.63);
    width: 150px;
}
h1 {
    margin: 30px;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    color: white;
}

img {
    width: 5%;
}

.imgLogo {
    text-align: center;
}
.imgLogo img{
	width:4.5%;
	height:4.5%;
}
.imgLogologin {
    text-align: center;
}
.imgLogologin img{
	width:4.5%;
	height:139%;
}
table {
    box-shadow: 0 0 4px #FA8072; 
    border-collapse: collapse; 
    width: 100%;
}
strong {
    margin-left: 17%;
    color: white;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}
.indexstrong strong{
    margin-left: 0%;
    color: #000;
    text-align: none;
    font-family: Arial, Helvetica, sans-serif;
}
.cor{
    background-color: rgba(245, 9, 9, 0.63);
    width: 10%;
    max-width: 800px;
    text-align: center;
    align-self: center;
    padding: 30px;
    border-radius: 8px;
    margin-top: 150px;
    margin-bottom: 40px;
    height: 1000px;
    margin-bottom: 0px;
}
header {
    position: fixed;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(255, 0, 0, 1) 100%);
    padding: 5px;
    width:100%;
    min-width:100vw;
    box-shadow: 0 0 4px black;
    border-radius: 4px;
    z-index: 2;
    height:8%
}

.input {
    background-color: white;
    border-radius: 30px;
    display: block;
    width: 500px;
    margin-left: 17%;
}

.input:hover {
    opacity: 0.8;
    background-color: red;
    color: white;
}

#Botao {
    margin-top: 15px;
}

.botao {
    padding: 10px;
    background-color: red;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: solid 2px black;
    border-radius: 20px;
    box-shadow: 0 0 4px;
}

.botao:hover {
    background-color: white;
    color: black
}

.bt {
  text-align:center;
}

.form{
    background-color: rgba(245, 9, 9, 0.63);
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 8px;
    margin-top: 150px;
}



a {
    padding: 10px;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    color: blue;
    font-size: 18px;
}

.bx-user,.bx-menu {
    font-size: 250%;
}

.bx-user:hover {
    cursor: pointer;
    color: white;
}


.bx-menu:hover {
    color: white;
}


#seta {
    color: white;
    margin-right: 500px;
    font-size: 50px;
}

footer {
        background: rgb(2, 0, 36);
        background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(255, 0, 0, 1) 100%);
        box-shadow: 0 0 4px black;
        margin-top: 30%;
        z-index:1;
        padding: 10px;
}
.perfil{
    position: fixed;
    right:0;
    top:20px;
}
.sucesso{
	text-align:center;
    color: #fff;
    text-decoration:underline;
    margin:0px;
    margin-top:30px
}
.voltartab{
	margin-top:20px;
	align-self: center;
    text-align: center;
    display: grid;
}
.cadastrar {
	align-self: center;
    text-align: center;
    display: grid;
    margin-inline: 300px;
}
/*Menu*/
menu {
    position: fixed;
}
menu a{
    margin-bottom: 10px;
}
#menu-options {
    display: none;
    position: fixed;
    top: 0;
    left: 2%;
    list-style: none;
    width: 200px;
    height:350px;
    font-size: 20px;
    padding: 0;
    margin-top: 4.5%;
    background-color: #ad0000;
    border-radius: 10px;
    color: #fff;
    text-align: center;
}

#menu-options li {
    padding: 10px 0;
}

#menu-options a {
    text-decoration: none;
    color: #fff;
}

#menu-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.bx-x:focus+#menu-options {
    display: block;
 
}
.bx-x:focus{
    top: 0;
    left: 0;
    position: relative;
}
#menu-options:target {
 
    display: block;
}

/*ajuste no "X"*/
.bx-x {
    margin-right: 17px;
    padding-left: 0%;
    margin-left: 0px;
    font-size: 70px;
    margin-top: 12px;
    position: relative;
}
menu li a .bx-x{
    position: absolute;
    top:0%;
    left:0%;
}



.element {
    width: 100px;
    height: 100px;
    
    position: absolute;
    cursor: pointer;
  }
  /*FIM MENU*/
  /*Estatisticas*/
  .espec {
    margin-left: 17%;
    color: rgb(187, 184, 184);
    text-align: left;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.txtstat{
    margin-left: 17%;
    color: white;
    text-align: left;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.video{
    text-align: center;
}
#Text-H2-estat{
    text-align: center;
    color: white;
}
#Text-H3-estat{
    color: white;  
}
#Text-H4-estat{
    color: white;     
}
#videoicon{
    font-size: 300%;
    color: white;
}
/*User*/
.alignBack{
    width:50px;
    position: absolute;
    left: 180px;
    z-index: 1;
    top:110px;
}
.container{
    Top:130px;
    position: absolute;
    left:50%;
    transform: translate(-50%);
}
.alignBack .material-symbols-outlined{
        font-size: 30px;
       
}
.student{
    margin-top: 100px;
    background-color: #ffffff;   
    height:90vh;
    position: absolute;
    left:50%;
    transform: translate(-50%);
    width:70%;
}
.student img {
    width: 150px;
    height: 170px;
    border-radius: 50%;
    margin-bottom: 10px;
    position: absolute;
    left: 30%;
  }
  .alignUser{
    margin-top:60px;
    cursor: pointer;
    position: absolute;
    left:10%;
    transform: translate(-70%);
  }
  .alignUser .material-symbols-outlined{
    color:#c5c5c5;
    font-size: 140px;
  }
  .alignConfig .material-symbols-outlined{
    color:#000;
    font-size:60px;
  }
  .alignConfig{
    margin-top:230px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    left:10%;
    transform: translate(-70%);
  }
  .alignConfig .span1{
    position: absolute;
    top:25%;
  }
  .span1{
    font-size: 20px;
  }
  .alignConfig .span1{
    font-style: italic;
color:black;
  }

  /*DIVS DO MENU*/
  

.bxs-user-plus {
    position: fixed;
    cursor: pointer;
    margin-top: 10px;
    z-index: 1;
    top: 0%;
    right: 10px;
    font-size: 40px;
}

.alinharUser {}

.img1 {
    width: 80px;
    height: 100px;
}

.alinharImg {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footeruser{
    margin-top: 1100px;
}
.open{
    display: block;
}
/*HomeTreinador.html*/
/*h1*/
.TrenH1{
    margin-top:150px;
    margin-left: 60px;
    margin-bottom: 60px;
}
/*botoes homeTreinador*/

/*mexa aqui se quiser deixar os botões bonitinhos*/
.AtributBotton button{
    border:none;
    background-color: #ff000000;
    color:#fff;  
    font-size: 15px;
}
.AtributBotton button:hover{
    border:none;
    background-color: #ff000000;
    color:#fff;  
    transition: 0.5s;
    font-size: 17px;
}

.AtributBotton button{
    border:none;
    background-color: #ff000000;
    color:#fff;  
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}

.AtributBotton{
   text-align: center;
   margin-top: 300px;
  
}
/*Fim de /*/
/*ATRIBUTO DOS ICONES*/
.alignIconMovie > .material-symbols-outlined{
    font-size: 60px;
}
.alignIconPublicar > .material-symbols-outlined{
    font-size: 60px;
}
.alignIconEstatisticas > .material-symbols-outlined{
    font-size: 60px;
}
/*align icones*/
.alignIconMovie{
    color: #fff;
    position: absolute;
    top: 300px;
    left:15%;
    transform: translate(-85%);
}
.alignIconPublicar{
    color: #fff;
    position: absolute;
    top: 300px;
    left:50%;
    transform: translate(-50%);
}
.alignIconEstatisticas{
    color: #fff;
    position: absolute;
    top: 300px;
    left:85%;
    transform: translate(-15%);
}
.alignSeusVideos,.alingCriarVideo,.alignEstatisticas{
    margin-top: 150px;
    height:100px;
    width: 300px; 
    background-color: #b40000;
    border-radius: 10px;
    border: solid 1px black;
    cursor: pointer;
}
.alignSeusVideos:hover,.alingCriarVideo:hover,.alignEstatisticas:hover{
    margin-top: 150px;
    height:100px;
    width: 300px; 
    background-color: #b40000da;
    border-radius: 10px;
    border: solid 1px black;
    cursor: pointer;
}


/*alinhar as divs dos botoes*/
.alignSeusVideos{
    position: absolute;
    top: 230px;
    left:19%;
    transform: translate(-81%);
}
.alingCriarVideo{
    position: absolute;
    top: 230px;
    left:50%;
    transform: translate(-50%)

}
.alignEstatisticas{
    position: absolute;
    top: 230px;
    left:80%;
    transform: translate(-20%)
}
.homefooter{
    margin-top: 10%;
}
/*Fim de / */
/*Publicar.html*/
.alignTitle{
    position: absolute;
    left:-70px;
    }
    .alignTreiner{
        position: absolute;
        right:100px;
    }
    .inputTreb{
        width:200px;
        height: 30px;
        background-color: white;
        border-radius:5px;
        border: none;
        display: block;
        margin-left: 0%;
    }
    .formPublicar {
        background-color: #af0000d3;
        width: 100%;
        max-width: 1000px;
        border-radius: 8px;
        padding-top: 5px;
        padding-right: 5px;
        padding-left: 5px;
        height:80vh;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 130px)
    }
    .btPublicar {
        margin-left: 75%;
        margin-top: 100px;
        
    }
    /*Inicio*/
    .main {
        /*DE OLHO AQUI*/
        
    
        height: 350px;
    
        width: 100%;
        /*
        width:1365px;
        */
        background-color: #8f0000;
        transform: translate(0%, 200px);
        border-top: 2px solid black;
        border-bottom: 2px solid black;
    
    }
    
    .content {
        height: 260px;
        /*
        width:1350px;
    */
        /*DE OLHO AQUI*/
        width: 87%;
    
        border-radius: 5px;
    
        overflow: hidden;
    
        position: absolute;
    
        top: 20px;
        left: 50px;
    
    
    }
    
    .s1,
    .slide {
        margin: 0px;
    }
    
    .navigation {
    
        position: absolute;
    
        bottom: 50px;
    
        left: 0%;
    
        transform: translate(80%);
    
        display: flex;
    
    }
    .p1{
        margin-left: 50px;
        color: white;
        font-family:'Arial Narrow Bold', sans-serif
    }
    .p1,.p2,.p3,.p4{
        font-size:30px;
    
    }
    .p4{
        margin-top: -18px;
        text-align: left;
    }
    
    .bar {
    
        width: 18px;
    
        height: 18px;
    
        border-radius:50%;
    
        border:2px solid white ;
    
        background-color: rgb(59, 59, 59);
    
        margin: 10px;
    
        cursor: pointer;
    
        transition: 0.3s;
    
        transform: translate(-100%);
    }
    
    .bar:hover {
    
        background-color: rgb(255, 0, 0);
    
    }
    
    .Rolls {
    
        display: flex;
    
        width: 500%;
    
        height: 85%;
    
    }
    
    .slide {
    
        padding-right: 0%;
    
        display: flex;
    
        transition: .4s;
    
    }
    
    .slide img {
        border-bottom: 3px solid white;
    
        height: 100%;
    
        width: 25%;
    }
    
    .s1 img {
        height: 100%;
        width: 25%;
    }
    
    #roll1:checked~.s1 {
    
        margin-left: 0;
    
    }
    
    #roll2:checked~.s1 {
    
        margin-left: -25%;
    
    }
    
    #roll3:checked~.s1 {
    
        margin-left: -50%;
    
    }
    
    #roll4:checked~.s1 {
    
        margin-left: -75%;
    
    }
    
    .rollpequeno{
        width: 0px;
        height: 0px;
    }
    
    .slide,
    .s1 {
    
        display: flex;
    
        height: 98%;
    
        width: 25%;
    
    }
    .SobreO {
        margin-top: 300px;
        height: 300px;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 500px);
        width: 600px;
        background-color: #f7f7f7;
    }
    
    .p2 {
        padding-top: 50px;
        margin-left: 40px;
        font-size: larger;
        text-align: justify;
        font-family: 'Open Sans', sans-serif;
    }
    
    .Vitalusus {
        position: absolute;
        display: flex;
        color: #ff0000;
        top: 130px;
        margin-left: 410px;
        font-size: larger;
    }
    
    .a1 {
        font-style: normal;
    }
    
    .a2 {
        font-style: oblique;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    
    .LogoAjust img {
        height: 170px;
        width: 180px;
    }
    
    .LogoAjust {
        top: 35px;
        left: 75%;
        transform: translate(-30%);
        position: absolute;
    }
    /*Fim da DIV DE BAIXO*/
    
    
    /*COMEÇAR (TELA DE BAIXO DA LOGO)*/
    .comecar {
        height: 350px;
        position: absolute;
        top: 1500px;
        left: 50%;
        transform: translate(-50%);
        width: 1200px;
        background-color: #f7f7f7;
    
    }
    
    .ajustH1 {
        margin-top: -12px;
        color: #ff0000;
        font-size: 28px;
    
    }
    
    .p3 {
        padding-left: 10px;
        font-size: larger;
    }
    
    .treinadorAjust {
        
        position: absolute;
        top: 0px;
        left: 60%;
    }
    
    .treinadorAjust h1 {
        font-size: 50px;
        color: #ff0000;
    }
    
    .destacar {
        color: #ff0000;
    }
    
    .destacar2 {
        color: #ff0000;
    }
    /*FIM COMEÇAR TELA DE BAIXO*/
    
    /*CODIGO ORTOGRAFIA E JOANA*/
    .cor-sobre-nos{
        background-color: rgba(245, 9, 9, 0.63);
        width: 70%;
        max-width: 100%;
        margin: 0 auto;
        border-radius: 8px;
        margin-top: 100px ;
        margin-bottom: 40px;
        height: 1000px;
      }
    
    #seta-sobre-nos{
        padding: 30px;
        color: white;
        margin-right: 500px;
        font-size: 50px;
    }
    #Texto-SN{
        margin-top:60px;
        text-align: center;
        font-size: 32px;
        color:white;
        font-family: 'Roboto', sans-serif;
        word-spacing: 5px;
    }
    #Texto-H-SN{
        margin-bottom: 30px;
        margin: 30px;
        font-size: 50px;
        font-family: 'Work Sans', sans-serif;
        text-align: center;
        color: white;
    }
    #Texto-H2-SN{
        margin-top:60px;
        text-align: center;
        font-size: 32px;
        color:white;
        font-family: 'Roboto', sans-serif;
        word-spacing: 5px;
        
    }
    .PlayStore img{
    height:35%;
    width:30%;
    }
    .PlayStore{
        position:absolute;
        top:110px;
        left:29%;
    }
    .appStore img{
        height:45%;
    width:38%;
    }
    .appStore{
        position:absolute;
        top:170px;
        left:29%;
    }
    .fazerloginIndex:hover{
        font-size: 110%;
        color: red
    }