<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="listCliente.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil dos Treinadores</title>
    <style type="text/css">
        body{
            padding: 50px;
            
        }
        table{
            box-shadow: 0 0 4px red;
        }
        th{
            border: solid;
            
            
        }
        tr{
            border: solid;
            
           
        }
        td{
            border: solid;
            
        }
        a{
            border: solid;
        }
    </style>
</head>
<body>
    <header>
        Header Placeholder
        <a target="_self" href=""><i></i>Voltar</a>
        <a target="_self" th:href="@{/Vitalusus-2h/Clientes/cadastrar}"><i></i>Novo Cliente</a>
    </header>
    <main>
        <section>
            <h2>Clientes</h2>
            <table class="tableT">
                <thead>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Status</th>
                    <th>Data de Nascimento</th>
                    <th>E-Mail</th>
                    <th>Senha</th>
                    <th>Telefone</th>
                    <th>Tipo de Pessoa</th>
                    <th>CPF</th>
                </thead>
                <tbody>
                    <tr th:each="clientes: ${listaDeClientes}" >
                        <td th:text="${clientes.id}"></td>
                        <td th:text="${clientes.nome}"></td>
                        <td th:text="${clientes.codStatus}"></td>
                        <td th:text="${clientes.dataDeNascimento}"></td>
                        <td th:text="${clientes.email}"></td>
                        <td th:text="${clientes.senha}"></td>
                        <td th:text="${clientes.telefone}"></td>
                        <td th:text="${clientes.tipoPessoa}"></td>
                        <td th:text="${clientes.cpf}"></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
</body>
</html>