<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/ESQUECEUSENHA.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="shortcut icon" href="/logo.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vitalusus+</title>
</head>
<body background="/Academia3.jfif" > 
      <header>
   <a href="Perfil.html" target="_self">  <i class='bx bx-user' id="user"></i></a>
     <img src="Logo.png" class="logo">
    </header>
    <form action="" class="form">
        <a th:href="@{/Vitalusus-2h/Clientes/login}"><i class='bx bx-left-arrow-circle'  id="seta"></i></a> 
        <h1>Recuperar Senha</h1>    
      <strong>Email</strong> <p>Informe seu Email, para enviarmos um código para você trocar sua senha.</p>
      <input type="email" class="input" name="name" min="" maxlength="" required="required">
     <br/>
     <br/>
     <div >
      <input class="botao" type="submit" value="Confirmar" id="Botao">
    </div>
    </form>
    <footer>.</footer>
    </body>
</html># TCC-Vitalusus
